.n_dispage_jm{
    font-family: "微软雅黑", serif;
}
.n_dispage_jm_in{

}
.head{
    width: 80%;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: yellow;*/
}

.head>div{
    /*border: 1px solid orange;*/
    /*background-color: green;*/
}
.head_left>div{
    margin: 15% 0;
    text-align: center;
}
.head_left>.name{
    line-height: 130%;
    font-size: 38px;
    height: 38px;
    /*background-color: red;*/

}
.head_left>.sex{
    font-size: 14px;
}
.head_middle{
    text-align: left;
    line-height: 30px;
}

.head_middle p{
    text-align: center;
    width: 15px;
    color: #375f91;
    font-size: 15px;
    margin: 0 5px;

    /*background-color: red;*/
}
.head_middle span{
    font-size: 14px;
}
.head_right{
    border: 2px solid rgba(0,0,255,0.3);
}

.head_right>img{
    width: 150px;
}

.title{
    width: 98%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}
.label-part{
    display: block;
    height: 30px;
    width: 30%;
    background-color: #375f91;
    font-size: 19px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    padding-left: 60px;
}
.triangle {
    width: 0;
    height: 0;
    padding: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #3f3f3f;
    transform: rotate(45deg);
    position: absolute;
    top: 27px;
    left: 16px;
}
.line {
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #bebebe; /* 黑色 */
    top: 30px;
    left: 36px;
}

.container{
    margin: 15px 50px;
    font-size: 15px;
    width: 87%;
}
.part>.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    font-size: 17px;
    /*background-color: red;*/
}
.part>.course{
    align-items: center;
    justify-content: left;
    display: flex;
    line-height: 30px;

}
.part>.course div{
    font-size: 2px;
}
.school ul li{
    color: #000000;
    font-size: 15px;
}
.school ul li>div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.school ul>li>div>div:nth-child(1){
    /*background-color: orangered;*/
    width: 25%;
}

.project .container .part>.name{
    font-weight: bold;
    height: 30px;
}
.project .content{
    width: 90%;
    margin-left: 23px;
}
.project .content p{
    display: inline-block;
}
.project .content p>span{
    font-weight: bold;
}
.project .content>.method{
    font-weight: bold;
}
.project .content>.method ul{
    margin-left: 23px;
    list-style: disc;
}
/*.project .content>.bref{
    height: 30px;
    line-height: 30px;
}*/
.project .content>.method ul>li{
    list-style: disc;
    color: #000000;
}
.self{
    /*margin-bottom: 50px;*/
    padding-bottom: 50px;
}
